<h1>Latest 3 picks</h1>

<table>
  <tr>
    <th>D round</th>
    <th>D team</th>
    <th>D player</th>
    <th>D position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drafts.each do |draft| %>
  <tr>
    <td><%= draft.d_round %></td>
    <td><%= draft.d_team %></td>
    <td><%= draft.d_player %></td>
    <td><%= draft.d_position %></td>
    <td><%= link_to 'Show', draft %></td>
    <td><%= link_to 'Edit', edit_draft_path(draft) %></td>
    <td><%= link_to 'Destroy', draft, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />